<html>
  <head>
    <title>How does typing in Chinese work?</title>
    <script src="lib/d3.min.js"></script>
    <script src="lib/crossfilter.v1.min.js"></script>
    <script src="pinyin.js"></script>
    <script src="histogram.js"></script>
    <script src="definition.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>

<script type="text/template" id="body">
<div id=container>
<div id=content>
  <h1>How does typing in Chinese work?</h1>
    <div id="iewarning" style="display:none">
      This page works best in <a href="http://google.com/chrome">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
    </div>
    <div id="explanation">
      <p>
      You may have heard that there are thousands of Chinese characters and wondered how big the keyboards must be in China. Long before computers, a system for writing Chinese characters using Roman letters was devised so that Chinese could be written phonetically.
      </p>
      <p>
      The most recent and the official system for representing Chinese characters as letters is called <a target=_blank href="http://en.wikipedia.org/wiki/Pinyin">Pinyin</a>. It isn't the only way to type Chinese, but it is the most common.
      </p>
      <p>
        In Pinyin all characters are composed of
         <span class="start"> initials</span> and <span class="end">finals</span>. The initials (start of the word) are most of the consanants we are used to, plus some sounds such as "sh". The finals (end of the word) represent various pronounciations in Chinese, many of which are not commonly found in English.
      </p>
      <p>
        Mandarin Chinese has 5 distinct <span class="tone">tones</span>. These can be represented with a number 1 through 4, the 5th tone is actually the absence of a tone.
      </p>
      <p>
        Many Characters can share the same pinyin spelling (because they share pronounciation). You can explore how much overlap there is, as well as see how quickly you can get to any particular character by typing a few letters.
      </p>
    </div>

    <div id="text">
      <h2>Try typing some Pinyin</h2>
      <input id="pinyin" class="pinyin" maxlength="5" value={{_page.pinyin}} on-keyup="filter()" on-click="clicker()">
      <div class="examples">
        e.g.
        <span class="example">我: wo3</span>
        <span class="example">爱: ai4</span>
        <span class="example">你: ni3</span>
      </div>
      <div class="count">
        <span class="number">{{_page.numMatches}}</span>
        <span class="filler">{{if _page.pinyin}} characters match {{else}} possible characters{{/if}}</span>
        <span class="start">{{_page.start}}</span><span class="end">{{_page.end}}</span><span class="end">{{_page.tone}}</span>.
      </div>
    </div>

    <!--
    -->

    <div id="histos">
      <div class="initials">
        <h2>Possible word beginnings</h2>
        {{if _page.loadingSingles }}
          <view name="loader"></view>
        {{/}}
        <view name=histo data={{_page.initialGroups.starts}} selection={{_page.groups.starts}} height=80></view>
      </div>
      <div class="finals">
        <h2>Possible word endings</h2>
        {{if _page.loadingSingles }}
          <view name="loader"></view>
        {{/}}
       <view name=histo data={{_page.initialGroups.ends}} selection={{_page.groups.ends}} height=80></view>
      </div>
      <div class="tones">
        <h2>Possible tones</h2>
        {{if _page.loadingSingles }}
          <view name="loader"></view>
        {{/}}
        <view name=histo data={{_page.initialGroups.tones}} selection={{_page.groups.tones}} height=80></view>
      </div>

    </div>
    <div id="chars">
      <h2>Matching Characters <span class=count>({{if _page.numMatches > 100}}100+{{else}}{{_page.numMatches}}{{/if}})</span></h2>
      <div>
      {{each _page.chars as #char}}
      <div class="char {{if #char.char === _page.selectedChar.char}}selected-char{{/if}}" on-click="model.set('_page.selectedChar', #char)">{{#char.char}}</div>
      {{/each}}
      <br>
      </div>
      <div class="definitions">
        <view name="definition" char="{{_page.selectedChar}}"></view>
      </div>
    </div>
    <div id="conclusion">
      <h2>How this page was built</h2>
      <p>
        The data for this project is derived from the open Chinese-English dictionary project <a target=_blank href="http://cc-cedict.org/wiki/">CEDICT</a>. All unique characters in the dictionary were extracted (and they are sorted by the number of times they appear).
      </p>
      <p>
        This is also a tech demo of a new feature of <a target=_blank href="http://derbyjs.com">Derby</a>, the <a target=_blank href="https://github.com/codeparty/derby-standalone">standalone package</a>. This allows you to use Derby templates and reactive data binding without a server. The API is much nicer than Angular or Backbone, and the source has been commented to encourage others to try it.
      </p>
      <p>
      The project relies on <a target=_blank href="http://square.github.io/crossfilter/">crossfilter.js</a> to provide the interactive filtering and grouping of thousands of characters and their pinyin.
      </p>
      <p>
        A little bit of <a target=_blank href="http://d3js.org/">d3.js</a> is used for the visualization, but only for calculating scales, data binding is handled by Derby<br>
      </p>
      <p>
        Written by <a href="https://twitter.com/enjalot">enjalot</a> for 
        <a href="https://twitter.com/derbyjs"> derbyjs</a>.
      </p>
      <p>
        Thanks to <a href="https://twitter.com/andreasmb">andreasmb</a>, <a href="https://twitter.com/vicapow">vicapow</a>, <a href="http://twitter.com/shirleyxywu">shirleyxywu</a> and <a href="https://twitter.com/danielledai">danielledai</a> for design help.
      </p>

      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://enjalot.github.io/pinyin" data-text="How does typing in Chinese work?" data-via="enjalot">Tweet</a>
    </div>
</div>
</div>
</script>

<!-- twitter button script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<!-- such readability -->
<script type="text/template" id="histo" attributes="data selection height">
  <div class="bars">
    {{each layout as #d,#i}}
      <div class="bar-container" on-mouseover="model.set('hovered', #i)" on-mouseout="model.set('hovered', null)">
        <div class="bar {{if #d.selectionHeight}}highlight{{/if}}" style="height:{{#d.height}}px;top:{{#d.y}}px;">
          <div class="inner" style="height:{{#d.selectionHeight}}px;top:{{#d.selectionY}}px;"></div>
        </div>
        <div class="value {{if #d.selectionHeight/#d.height < 0.5 || #d.selectionHeight < 22}}outside{{/}} {{if hovered !== #i}}hidden{{/if}}" style="margin-top:{{if #d.height < 22}}{{-#d.height-24}}{{else}}{{-#d.height}}{{/}}px;">
          {{selection[#i].value}}
          <br>
          <span class=denominator>
            {{data[#i].value}}
          </span>
        </div>
        <div class="letter" style="opacity:{{if +#d.selectionHeight}}1{{else}}0.3{{/}}">{{data[#i].key || "N/A"}}</div>
      </div>
    {{/each}}
  </div>
</script>

<script type="text/template" id="definition" attributes="char">
  <div class="bars">
    {{if @char.pinyin}}
      <audio controls src="https://s3.amazonaws.com/pinyin/audio/{{firstPinyin(@char.pinyin)}}.mp3"></audio><br>
      <img src="https://service.goodcharacters.com/images/han/{{@char.char}}.gif">
    {{/if}}
    <p>
    {{if numDefinitions}}
      {{numDefinitions}} Words with definitions.
    {{else}}
      Click on a character to see the words it belongs to and their definitions.
    {{/if}}
    {{if loading}}
      <br><br>
      <view name="loader"></view>
    {{/if}}
    </p>
    {{each definition as #d,#i}}
      <div class="definition">
        {{each split(#d.char) as #ch}}
          <span class="def-char {{if #ch === @char.char }}sel-def-char{{/if}}">{{#ch}}</span>
        {{/each}}
        <span style=padding:5px;>:</span>
        <span class="pin">{{#d.pinyin}}</span> - <span class=def>{{#d.def}}</span>
      </div>
    {{/each}}
  </div>
</script>
<script type="text/template" id="loader">
  <!-- taken from: http://codepen.io/jxnblk/pen/Byvzr -->
  <svg class="icon-loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
    <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
      <animateTransform attributeName="transform"          type="rotate" from="0 16 16" to="360 16 16" dur=".8s" repeatCount="indefinite" />
    </path>
  </svg>
</script>

    <script src="lib/derby-standalone.min.js"></script>
    <script>
      if(navigator.appName.indexOf("Internet Explorer")!=-1){
        // warn the user
        document.getElementById("iewarning").setAttribute("style", "");
      }
      ////////////////////// <BOILER PLATE> ///////////////////////////////
      // setup standalone derby
      var app = derby.createApp();
      // setup our templates
      var templates = document.querySelectorAll('script[type="text/template"]');
      for (var i = 0; i < templates.length; i++) {
        var template = templates[i];
        app.views.register(template.id, template.innerHTML, template.dataset);
        template.parentNode.removeChild(template);
      }
      ////////////////////// </BOILER PLATE> ///////////////////////////////
      // setup our histogram component (defined in histogram.js)
      app.component("histo", Histogram);
      app.component("definition", Definition);
      // create the page and expose the model for use in the console
      var page = app.createPage();
      console.log("Try MODEL.set('_page.pinyin', 'w')");
      var model = window.MODEL = page.model;
      // render the main template
      document.body.appendChild(page.getFragment('body'));


      ///////////////////// CONTROLLER CODE ////////////////////////////////
      model.set("_page.pinyin", "");
      model.set("_page.loadingSingles", true)

      // when the user clicks on the input this gets called
      app.proto.clicker = function() {
        location.href='#pinyin'
        document.querySelector("input.pinyin").focus();
      };
      app.proto.filter = function() {};
      app.proto.split = function(word) {
        return word.split("");
      }

      // get some data asynchronously!
      d3.csv("data/cedict-singles.csv", function(err, data) {
        model.set("_page.loadingSingles", false)

        // crossfilter logic defined in pinyin.js
        var xf = cross();
        xf(data);

        model.set("_page.initialGroups", xf.groups())

        // we setup an app function for use in the template (on-keyup of the input)
        app.proto.filter = filter;
        function filter() {
          var value = model.get("_page.pinyin");
          model.set("_page.selectedChar", {"char":"",pinyin:""});

          xf.filterMatch(value);
          var matches = xf.top(Infinity);
          model.set("_page.numMatches", matches.length);
          model.set("_page.chars", xf.top(100).sort(function(a,b) { return (+b.count) - (+a.count); }))

          var start = getInitial(value);
          var end = getFinal(value);
          var tone = getTone(value);
          model.set("_page.start", start);
          model.set("_page.end", end);
          model.set("_page.tone", tone);

          var groups = xf.groups();
          model.set("_page.groups", groups)
        }
        filter();
      });
    </script>
  </body>
</html>
