input.pinyin {
  width: 120px;
  font-size: 30px;
}

#text {
  margin: 20px;
}
#text .number {
  color: "#646464";
  font-weight: 400;
}
#text .value {
  font-weight: 700;
}
#histos {
  height: 250px;
}
#conclusion {
  margin: 20px;
}

.bars {
  position: absolute;
}
.bar {
  width: 20px;
  display: block;
  float: left;
}
#initials .bar {
  background-color: red;
}

#finals .bar {
  background-color: green;
}
#initials {
  float:left;
}
#finals {
  float: left;
  margin-top: 100px;
}
